# Data Analysis Amazom Prime Video Tv Shows

## Imports

In [1]:
# import pandas library of data cleaning and manipulation
import pandas as pd

## Load Data

In [2]:
# Data link https://www.kaggle.com/datasets/dgoenrique/amazon-prime-movies-and-tv-shows/data
# read csv file into a DataFrame giving it a variable df
# df = pd.read_csv("data/titles.csv", index_col="id")
df = pd.read_csv("data/titles.csv")

## Use functions and Instances to understand the data

### Head function

In [3]:
# get a preview of the initial rows of the dataset
df.head(3)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,1946,PG,130,"['drama', 'family', 'fantasy', 'romance', 'com...",['US'],NaN,tt0038650,8.6,467766.0,27.611,8.261
1,tm143047,Duck Soup,MOVIE,Rufus T. Firefly is named president/dictator o...,1933,NaN,69,"['comedy', 'war']",['US'],NaN,tt0023969,7.8,60933.0,9.013,7.357
2,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,NaN,92,"['drama', 'romance', 'comedy']",['US'],NaN,tt0032599,7.8,60244.0,14.759,7.433

### Shape attribute

In [4]:
# use shape attribute to know the dimensions of the dataset: returns a tuple 
df.shape

(10873, 15)

In [5]:
df.describe()

,release_year,runtime,seasons,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
count,10873.000000,10873.000000,1551.000000,9765.000000,9.753000e+03,10302.000000,8747.000000
mean,2004.077807,85.869033,2.661509,5.970558,8.973232e+03,7.614083,5.977729
std,24.883711,34.156332,3.719633,1.362815,4.897767e+04,45.845289,1.512941
min,1912.000000,0.000000,1.000000,1.100000,5.000000e+00,0.000153,0.500000
25%,2002.000000,65.000000,1.000000,5.100000,1.190000e+02,1.327250,5.066500
50%,2015.000000,89.000000,1.000000,6.100000,4.880000e+02,2.658500,6.000000
75%,2019.000000,102.000000,3.000000,7.000000,2.493000e+03,6.185000,6.983000
max,2023.000000,940.000000,53.000000,9.900000,2.081757e+06,3187.531000,10.000000

### Info Function

In [6]:
# With the info function, we get to know the datatype of each column, they can be objects(strings), integers
# float. Also, the function shows the number of non-null values in each column 
# We also get to know the memory usage using info function
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10873 entries, 0 to 10872
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10873 non-null  object
 1   title                 10873 non-null  object
 2   type                  10873 non-null  object
 3   description           10729 non-null  object
 4   release_year          10873 non-null  int64
 5   age_certification     3688 non-null   object
 6   runtime               10873 non-null  int64
 7   genres                10873 non-null  object
 8   production_countries  10873 non-null  object
 9   seasons               1551 non-null   float64
 10  imdb_id               10172 non-null  object
 11  imdb_score            9765 non-null   float64
 12  imdb_votes            9753 non-null   float64
 13  tmdb_popularity       10302 non-null  float64
 14  tmdb_score            8747 non-null   float64
dtypes: float64(5), int64(2), object(8)
memory usage: 1.2+ MB

### More attributes: columns

In [7]:
df.columns

Index(['id', 'title', 'type', 'description', 'release_year',
       'age_certification', 'runtime', 'genres', 'production_countries',
       'seasons', 'imdb_id', 'imdb_score', 'imdb_votes', 'tmdb_popularity',
       'tmdb_score'],
      dtype='object')

### Isnull function

In [8]:
# with this function, we can identify the missing values and also quantify them 
# the function counts the number of missing values
# With this function, the data analyst can make informed decisions about data
# cleaning, imputation, or even droping columns with excessive null entries

df.isnull().sum()

id                         0
title                      0
type                       0
description              144
release_year               0
age_certification       7185
runtime                    0
genres                     0
production_countries       0
seasons                 9322
imdb_id                  701
imdb_score              1108
imdb_votes              1120
tmdb_popularity          571
tmdb_score              2126
dtype: int64

## Copy data to a new DataFrame

In [9]:
data = df.copy()

In [10]:
data.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,1946,PG,130,"['drama', 'family', 'fantasy', 'romance', 'com...",['US'],NaN,tt0038650,8.6,467766.0,27.611,8.261
1,tm143047,Duck Soup,MOVIE,Rufus T. Firefly is named president/dictator o...,1933,NaN,69,"['comedy', 'war']",['US'],NaN,tt0023969,7.8,60933.0,9.013,7.357
2,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,NaN,92,"['drama', 'romance', 'comedy']",['US'],NaN,tt0032599,7.8,60244.0,14.759,7.433
3,ts20945,The Three Stooges,SHOW,The Three Stooges were an American vaudeville ...,1934,TV-PG,19,"['comedy', 'family']",['US'],26.0,tt0850645,8.5,1149.0,15.424,7.600
4,tm5012,Red River,MOVIE,Headstrong Thomas Dunson starts a thriving Tex...,1948,NaN,133,"['western', 'drama', 'romance', 'action']",['US'],NaN,tt0040724,7.8,32210.0,12.400,7.400

### Handle missing data using fillna function

In [11]:
# We can replace missing data using any particular scalar or value
data.columns

Index(['id', 'title', 'type', 'description', 'release_year',
       'age_certification', 'runtime', 'genres', 'production_countries',
       'seasons', 'imdb_id', 'imdb_score', 'imdb_votes', 'tmdb_popularity',
       'tmdb_score'],
      dtype='object')

In [12]:
# data.isna().sum()
data.isnull().sum()

id                         0
title                      0
type                       0
description              144
release_year               0
age_certification       7185
runtime                    0
genres                     0
production_countries       0
seasons                 9322
imdb_id                  701
imdb_score              1108
imdb_votes              1120
tmdb_popularity          571
tmdb_score              2126
dtype: int64

In [13]:
data['imdb_score']

0        8.6
1        7.8
2        7.8
3        8.5
4        7.8
        ...
10868    5.8
10869    5.6
10870    8.3
10871    NaN
10872    NaN
Name: imdb_score, Length: 10873, dtype: float64

In [14]:
# count the number of null values in imdb_score column
data['imdb_score'].isnull().sum()

1108

### Fill the empty spaces with zero using fillna function

In [15]:
data['imdb_score'].fillna(0,inplace=True)

In [16]:
# check null values
data['imdb_score'].isnull().sum()

0

In [17]:
# repeating the same process for imdb_votes 
data['imdb_votes']

0        467766.0
1         60933.0
2         60244.0
3          1149.0
4         32210.0
           ...
10868      1269.0
10869       812.0
10870        10.0
10871         NaN
10872         NaN
Name: imdb_votes, Length: 10873, dtype: float64

In [18]:
data['imdb_votes'].isnull().sum()

1120

In [19]:
# fill the empty spaces with 0
data['imdb_votes'].fillna(0, inplace=True)

In [20]:
# checking for null value in imdb_votes column
data['imdb_votes'].isnull().sum()

0

In [21]:
# check other columns with null values 
# data.isna().sum()
data.isnull().sum()

id                         0
title                      0
type                       0
description              144
release_year               0
age_certification       7185
runtime                    0
genres                     0
production_countries       0
seasons                 9322
imdb_id                  701
imdb_score                 0
imdb_votes                 0
tmdb_popularity          571
tmdb_score              2126
dtype: int64

In [22]:
# above we still have to fix tmdb_popularity, tmdb_score, genres 
data['tmdb_popularity'].isnull().sum()

571

In [25]:
data['tmdb_popularity'].fillna(0, inplace=True)

/tmp/ipykernel_25066/3672836349.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['tmdb_popularity'].fillna(0, inplace=True)

In [26]:
data['tmdb_popularity'].isnull().sum()

0

In [27]:
data['tmdb_score'].isnull().sum()

2126

In [28]:
data['tmdb_score'].fillna(0, inplace=True)

/tmp/ipykernel_25066/3912202813.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['tmdb_score'].fillna(0, inplace=True)

In [29]:
data['tmdb_score'].isnull().sum()

0

In [30]:
data.columns

Index(['id', 'title', 'type', 'description', 'release_year',
       'age_certification', 'runtime', 'genres', 'production_countries',
       'seasons', 'imdb_id', 'imdb_score', 'imdb_votes', 'tmdb_popularity',
       'tmdb_score'],
      dtype='object')

### Replacing empty strings

In [31]:
data['genres']

0        ['drama', 'family', 'fantasy', 'romance', 'com...
1                                        ['comedy', 'war']
2                           ['drama', 'romance', 'comedy']
3                                     ['comedy', 'family']
4                ['western', 'drama', 'romance', 'action']
                               ...
10868                      ['action', 'thriller', 'crime']
10869                                  ['drama', 'comedy']
10870                                           ['comedy']
10871                                                   []
10872                                            ['drama']
Name: genres, Length: 10873, dtype: object

In [32]:
data['genres'] = data['genres'].replace('[]', 'unknown')

In [33]:
data['genres']

0        ['drama', 'family', 'fantasy', 'romance', 'com...
1                                        ['comedy', 'war']
2                           ['drama', 'romance', 'comedy']
3                                     ['comedy', 'family']
4                ['western', 'drama', 'romance', 'action']
                               ...
10868                      ['action', 'thriller', 'crime']
10869                                  ['drama', 'comedy']
10870                                           ['comedy']
10871                                              unknown
10872                                            ['drama']
Name: genres, Length: 10873, dtype: object

## Drop Unnecessary Columns

In [34]:
data.columns

Index(['id', 'title', 'type', 'description', 'release_year',
       'age_certification', 'runtime', 'genres', 'production_countries',
       'seasons', 'imdb_id', 'imdb_score', 'imdb_votes', 'tmdb_popularity',
       'tmdb_score'],
      dtype='object')

In [35]:
# columns to be dropped are 'id', 'description', 'age_certification','seasons', and 'imdb_id',
# before dropping, lets check all columns to confirm one with more null values
data.isnull().sum()

id                         0
title                      0
type                       0
description              144
release_year               0
age_certification       7185
runtime                    0
genres                     0
production_countries       0
seasons                 9322
imdb_id                  701
imdb_score                 0
imdb_votes                 0
tmdb_popularity            0
tmdb_score                 0
dtype: int64

In [36]:
# above output reveals that description, age_certification, seasons, and imdb_id has null values, one reason to drop
# the columns
data.drop(columns=['id', 'description','age_certification','seasons','imdb_id'], inplace=True)

In [37]:
data.isnull().sum()

title                   0
type                    0
release_year            0
runtime                 0
genres                  0
production_countries    0
imdb_score              0
imdb_votes              0
tmdb_popularity         0
tmdb_score              0
dtype: int64

## Convert data DataFrame to excel

In [38]:
data.to_excel('prime_movies.xlsx', index=False)

In [40]:
data.head()

,title,type,release_year,runtime,genres,production_countries,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,It's a Wonderful Life,MOVIE,1946,130,"['drama', 'family', 'fantasy', 'romance', 'com...",['US'],8.6,467766.0,27.611,8.261
1,Duck Soup,MOVIE,1933,69,"['comedy', 'war']",['US'],7.8,60933.0,9.013,7.357
2,His Girl Friday,MOVIE,1940,92,"['drama', 'romance', 'comedy']",['US'],7.8,60244.0,14.759,7.433
3,The Three Stooges,SHOW,1934,19,"['comedy', 'family']",['US'],8.5,1149.0,15.424,7.600
4,Red River,MOVIE,1948,133,"['western', 'drama', 'romance', 'action']",['US'],7.8,32210.0,12.400,7.400